<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% render 'css-variables' %}

    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    {% render 'meta-tags' %}
    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    <main id="main-content" class="flex-1" role="main">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% if settings.cart_drawer_enabled %}
      {% render 'cart-drawer' %}
    {% endif %}

    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>
